<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div height=300px; text-align=center;>
            <a href="/post">Add Post</a>
            <a href="/comment">Add Comment</a>
            <a href="/message">Send Message</a>
            <a href="/profile">Add Profile</a> 
            <a href="/page">Add Page</a>
            <a href="/getpage">Get Page</a>
            <a href="/getpostsbyaccount">Get Posts By Account</a>
            <a href="/delete_profile">Delete a Profile</a>
        </div>
        {% block content %}
        {% endblock  %}
    </body>
</html>
