{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}Post Form{% endblock %}</h2>

{% for message in form.page_id.errors %}
    {{ message }}
{% endfor %}

{% for message in form.post_text.errors %}
    {{ message }}
{% endfor %}
    
<form action = "http://localhost:5000/post" method = post>
    <fieldset>
        <legend>Post Form</legend>
        {{ form.hidden_tag() }}

        <div style = font-size:20px; font-weight:bold;>
            {{ form.post_text.label }}<br>
            {{ form.post_text }}
            </br>

            {{ form.page_id.label }}<br>
            {{ form.page_id }}
            </br>

            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endblock %}
